body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.329); /* Use rgba for transparency */
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #3498db;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Set a background color with transparency */
}

    button.Submit-button {
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    button.Submit-button:hover {
        background-color: #2c3e50;
    }



.welcome {
    font-style: italic;
    color: #f50000;
}
